<!doctype html>
<HTML lang="en">
  <HEAD>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Master Crafter</title>
	<meta name="description" content="Albion Online Crafting Suite">
	<meta name="author" content="SinRopa">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!--<link rel="stylesheet" href="custom.css" -->
 
 
 
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135929541-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135929541-1');
</script>

	</HEAD>
  <BODY>
      <div ng-app="myApp" ng-controller="myCtrl">
    
    
   <h3> Stone Convert </h3>

   <div class="input-group ">
       <div class="input-group-prepend">
         <span class="input-group-text" >T2 Stone Cost</span>
       </div>
       <input type="number" placeholder=0 ng-model="t2cost">
     </div>
     <div class="input-group ">
      <div class="input-group-prepend">
        <span class="input-group-text" >T3 Stone Cost</span>
      </div>
      <input type="number" placeholder=0 ng-model="t3cost">
    </div>
    <div class="input-group ">
      <div class="input-group-prepend">
        <span class="input-group-text" >T4 Stone Cost</span>
      </div>
      <input type="number" placeholder=0 ng-model="t4cost">
    </div>
    <div class="input-group ">
      <div class="input-group-prepend">
        <span class="input-group-text" >T5 Stone Cost</span>
      </div>
      <input type="number" placeholder=0 ng-model="t5cost">
    </div>
    <div class="input-group ">
      <div class="input-group-prepend">
        <span class="input-group-text" >T6 Stone Cost</span>
      </div>
      <input type="number" placeholder=0 ng-model="t6cost">
    </div>
    <div class="input-group ">
      <div class="input-group-prepend">
        <span class="input-group-text" >T7 Stone Cost</span>
      </div>
      <input type="number" placeholder=0 ng-model="t7cost">
    </div>
    <div class="input-group ">
      <div class="input-group-prepend">
        <span class="input-group-text" >T8 Stone Cost</span>
      </div>
      <input type="number" placeholder=0 ng-model="t8cost">
    </div>


    
</div><!--ngapp-->

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {


$scope.t2equiv={};
//How many T2 stones is each tier equal to
$scope.t2equiv.t2 = 1;
$scope.t2equiv.t3 = t2equiv.t2 * 3;
$scope.t2equiv.t4 = t2equiv.t3 * 6;
$scope.t2equiv.t5 = t2equiv.t4 * 9;
$scope.t2equiv.t6 = t2equiv.t5 * 15;
$scope.t2equiv.t7 = t2equiv.t6 * 25;
$scope.t2equiv.t8 = t2equiv.t7 * 42;

//default prices
$scope.t2cost = 27;
$scope.t3cost = 28;
$scope.t4cost = 85;
$scope.t5cost = 783;
$scope.t6cost = 816;
$scope.t7cost = 1450;
$scope.t8cost = 8200;

$scope.costs={};
$scope.costs.t2 = $scope.t2cost;
$scope.costs.t3 = $scope.t3cost;
$scope.costs.t4 = $scope.t4cost;
$scope.costs.t5 = $scope.t5cost;
$scope.costs.t6 = $scope.t6cost;
$scope.costs.t7 = $scope.t7cost;
$scope.costs.t8 = $scope.t8cost;

});
</script>

<!-- End  T4 Crafting Tests -->
    <script type="text/javascript" src="main.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </BODY>
<footer id="version">Game Version 1.14.381</footer>
</HTML>

